.overlay_form{
    border:1px solid rgba(240, 134, 81, 0.833);
    border-radius: 4px;
}
.mx_top{
    padding-top: 20px;
}
.weth{
    font-weight: 700;
    color: #bdadad;
}
.input_form{
    border-radius: 4px;
    padding: 4px 6px;
    border: 1px solid rgb(125, 220, 93);
}
.btn_add{
    margin-top: 4px;
    padding: 6px 12px;
    background: #3fd941 !important;
}