table {
    width: 100%;
    border-collapse: collapse;
    font-family: Arial, sans-serif;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
    color: #333;
}

/* Hover effect */
tr:hover {
    background-color: #f5f5f5;
}
@media screen and (max-width: 600px) {
    table {
        border-collapse: collapse;
        width: 100%;
    }

    th, td {
        border: 1px solid #ddd;
        padding: 8px;
        display: block;
        text-align: center;
    }
    th{
        width: 100%;
        text-align: center;
    }

    th {
        background-color: #f2f2f2;
        color: #333;
    }

    tr:nth-child(even) {
        background-color: #f2f2f2;
    }
}
.btn_add_DoanVien{
    margin: 12px 0;
}
